@use "global" as *;
.layout-sub-mv{
    height:rem(460);
    background-image: url(../images/common/underpage-mv-SP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include mq('md'){
    height:rem(548);
    background-image: url(../images/common/underpage-mv-PC.jpg);
}
}