@use "global" as *;
.layout-about-gallery{
    margin-top:rem(40);
    @include mq('md'){
    position:relative;
    margin-top:rem(120);
}
}
.layout-about-gallery::before{
    @include mq('md'){
        position: absolute;
        content: "";
        height:rem(138);
        width:rem(301);
        top:-4%;
        right: calc(50% - min(48vw, rem(642))); 
        background:url(../images/common/contact-icon.png) no-repeat;
        background-size:contain;   
    } 
}
