@use "global" as *;
.layout-site-map{
    position:relative;
}
.layout-site-map::before{
    position: absolute;
    content: "";
    left:4%;
    top:rem(-25);
    height:rem(55);
    width:rem(120);
    background:url(../images/common/top-voice-icon01.png) no-repeat;
    background-size:contain;
    @include mq('md'){
        display: none;
    }
}