@use "global" as *;
.layout-page-visa-mv{
    height:rem(460);
    background-image: url(../images/common/canada-background.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    @include mq('md'){
    height:rem(548);
    background-image: url(../images/common/canada-background.jpeg);
}
}