@use "global" as *;
.layout-page-contact-mv{
    height:rem(460);
    background-image: url(../images/common/contact-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include mq('md'){
    height:rem(548);
}
}