@use "global" as *;
.layout-two-column{ 
    position: relative;
    margin-top:rem(52);
    @include mq('md'){
        margin-top:rem(150); 
    }
}
.layout-two-column::before{
    position: absolute;
    content: "";
    left:4%;
    top:rem(-25);
    height:rem(55);
    width:rem(120);
    background:url(../images/common/top-voice-icon01.png) no-repeat;
    background-size:contain;
    @include mq('md'){
        height:rem(138);
        width:rem(301);
        left: calc(50% - min(43vw, rem(623)));
        top:rem(-67);
    }
}