@use "global" as *;
.layout-home-mv{
    height:rem(460);
    background-image: url(../images/common/sydney-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    @include mq('md'){
    height:rem(548);
}
}