@use "global" as *;
.layout-page-faq-mv{
    height:rem(460);
    background-image: url(../images/common/ireland-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @include mq('md'){
    height:rem(548);
}
}