@use "global" as *;
.layout-price{
    margin-top:rem(80);
    padding:rem(80) 0;
    background-color:$bg-green;
    @include mq('md'){
        margin-top:rem(140);
        padding:rem(100) 0;
        position:relative;
    }
}
.layout-price::before{
    @include mq('md'){
        position: absolute;
        content: "";
        left: calc(50% - min(48vw, rem(620)));
        bottom:5%;
        height:rem(201);
        width:rem(437);
        background:url(../images/common/top-price-icon.png) no-repeat;
        background-size:contain;
    }
}