@use "global" as *;
.layout-page-about-mv{
    height:rem(460);
    background-image: url(../images/common/page-aboutus-sp-mv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq('md'){
    height:rem(548);
    background-image: url(../images/common/page-aboutus-pc-mv.jpg);
}
}