@use "global" as *;
.asideblog-lists__list.asideblog-list{
    cursor:pointer;
}
.aideblog-list__container{
    margin-left:rem(24);
}
.asideblog-list__year,
.asideblog-list__month{
    position:relative;
    color:$main-green;
    font-size:rem(24);
    font-weight: $regular;
    margin-top:rem(3);
}
.asideblog-list__year::before,
.asideblog-list__month::before{
    content: '';
    width:0;
    height:0;
    border-style:solid;
    border-width:12px 0 12px 20.8px;
    border-color: transparent transparent transparent $main-green;  
    transition: transform .3s;
    display: inline-block;
    margin-right:rem(8);
}
.asideblog-list__year.open::before{
// .asideblog-list__month.open::before {
    transform: rotate(90deg);
}
.asideblog-list ul{
    display:block;
}
.asideblog-list__month ul{
    display:none;
}
.asideblog-list--hide ul{
    display:none;
}
