@use "global" as *;
.inner.blog__inner{
    padding-right:21px;
    padding-left:21px;
    @include mq('md'){
        padding-right:rem(25);
        padding-left:rem(25);   
    }
}
.blog__cards{
    margin-top:rem(24);
    @include mq('md'){
        margin-top:rem(40);
    }
}
.blog__btn{
    text-align: center;
    margin-top:rem(40);
    @include mq('md'){
        margin-top:rem(64);
    }
}

