@use "global" as *;
.btn {
    position:relative;
    display:inline-flex;
    color:$white;
    align-items: center;
    cursor: pointer;
    max-width:rem(202);
    width: 100%;
    font-size:rem(14);
    line-height:calc(22/14);
    font-weight: $regular;
    font-family: $english-font-family;
    color: white;
    padding: rem(16) rem(40);
    margin-bottom:rem(4);
    background-color:$main-green;
    z-index:1;
    }
.btn span::first-letter{
    text-transform:uppercase;
}
.btn::before {
    border: 1px solid $main-green;
    content: "";
    height: 100%;
    right: -4px;
    top: 4px;
    position: absolute;
    z-index: -999;
    width: 100%;
}
.btn span::first-letter{
    text-transform:uppercase;
}
.btn::after{
    background:$white;
    border:1px solid $main-green;
    position: absolute;
    top: 0;
    left: 0;  
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -10;
}
.btn:hover::after{
    transform:scale(1, 1);
}  
.btn__arrow{
    margin-left:rem(8);
    width:rem(40);
    height:rem(6);
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    transform: skew(45deg);
}
.btn:hover span{
    color:$main-green;
}
.btn:hover .btn__arrow{
    margin-left:rem(8);
    width:rem(40);
    height:rem(6);
    border-bottom: 1px solid $main-green;
    border-right: 1px solid $main-green;
    transform: skew(45deg);
}
.btn:hover{
    color:$main-green;
    opacity:1 ;
    z-index:10;
}
//btn--whiteのCSS
.btn--white{
    background-color: $white;
    color: $main-green;
}
.btn--white::before{
    border:1px solid $white;
}
.btn__arrow.btn__arrow--green{
    border-bottom: 1px solid $main-green;
    border-right: 1px solid $main-green;
}
.btn--white::after{
    background-color: $main-green;
    border: 1px solid $white;
}
.btn--white:hover span{
    color:$white;
}
.btn--white:hover .btn__arrow--green{
    margin-left:rem(8);
    width:rem(40);
    height:rem(6);
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    transform: skew(45deg);
}
.btn--white span::last-letter{
    text-transform: uppercase; /* 最後の文字を大文字にする */
}
.btn__arrow {
    margin-left: 8px;
    width: 40px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: skew(45deg);
    z-index: 2; /* ボタンのテキストを最前面に */
    transition: border-color 0.4s ease-in-out;
}
.btn__arrow--contact{
    position: absolute;
    margin-left: rem(17);
    width:rem(40);
    z-index: 2;
    top: 46%;
    left: 50%;
}
