@use "global" as *;
.btn{
    /*矢印と下線の基点とするためrelativeを指定*/
    position: relative;
    /*形状*/
    display: inline-block;
    padding: 0 rem(20);
    color:$sub-blue;
    font-size:rem(16);
    line-height:1;
    font-family:$english-font-family;
    font-weight:$bold;
    letter-spacing:0.1em;
}
.btn--white{
    color:$white;
}
.btn--404{
    font-size: rem(12);
    @include mq('md'){
        font-size:rem(16);
    }
}
.btn::first-letter{
    text-transform:uppercase;
}
/*矢印と下線の形状*/
.btn::before{
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    bottom:rem(-14);
    left:16%;
    /*下線の形状*/    
    width:rem(134);
    height:rem(1);
    background:$sub-blue;
    /*アニメーションの指定*/
    transition: all .3s;
}
.btn--404::before{
    width:rem(103);
    @include mq('md'){
        width:rem(126);
    }
}
.btn--white::before{
    background:$white;
}
.btn::after{
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    bottom:rem(-11);
    right:-17%;
    /*矢印の形状*/    
    width:rem(10);
    height:rem(1);
    background:$sub-blue;
    transform: rotate(35deg);
    /*アニメーションの指定*/
    transition: all .3s;
}
.btn--white::after{
    background:$white;
}

/*hoverした際の移動*/
.btn:hover::before {
    left:rem(31);
}
.btn:hover::after {
    right: rem(-33);
}

