@use "global" as *;
.campaign__inner{
    margin: auto;
    width: 100%;
    @include mq(md){
        max-width: rem(1130);
    }
}
.campaign__swiper {
    margin-right: calc(50% - 50vw);
    overflow-x:hidden;
    // width: 100vw;
    margin-top:rem(27);
    @include mq('md'){
            margin-top:rem(40);
    }
}
.campaign__btn{
    text-align:center;
    margin-top: rem(30);
    @include mq('md'){
    margin-top: rem(66);
}
}

//swiperのボタン
//swipeナビボタンのデフォルト矢印打消し
.campaign__next::after,
.campaign__prev::after {
    content: "";
}
.campaign__btn-wrap{
    @include mq('md'){
        display:flex;
        position:absolute;
        right:12%;
        top:0;
        height:rem(80);
    }   
}
.campaign__next {
    @include mq('md'){
        margin-left: rem(90);
    }
}
.campaign__prev,
.campaign__next{
    @include mq('md'){
        position: initial;
        margin-top:0;/*デフォルト打消し*/
        width: rem(80);
        height:rem(80);
        background-color:$white;
        border-radius: 50%;
        border: 1px solid $main-green;
        transition: all 0.3s; 
    }   
}
.campaign__prev::before,
.campaign__next::before {
    @include mq('md'){
        content: "";
        position: absolute;
        width: rem(40);
        height: rem(8);
        background-size: contain;
        background-repeat:no-repeat;
    }
    
} 
.campaign__prev::before {
    @include mq('md'){
        background-image:url(../images/common/prev-arrow.png);
    }
}
.campaign__next::before {
    @include mq('md'){
        background-image:url(../images/common/next-arrow.png)
    }
    
}
.campaign__next:hover,
.campaign__prev:hover{
    @include mq('md'){
        background-color:$main-green;
    }
    
}
.campaign__prev:hover::before,
.campaign__next:hover::before {
    @include mq('md'){
    filter: brightness(0) invert(1);
    }
}

.campaign__no-posts {
    margin-top: rem(24);
    margin-inline: auto;
    @include mq(md){
        margin-top: rem(40);
    }
}

.no-posts__text {
    font-size: rem(16);
    @include mq(md){
        font-size: rem(24);
    }
}
  
//modifier
/*.no-posts__text--faq {
    margin-top: rem(40);
    @include mq(md){
      margin-top: rem(80);
    }
  }*/