@use "global" as *;
.campaign-list{
    box-shadow:2px 2px 10px 0px rgba(0, 0, 0, 0.25);   
    // display:flex;
    height:auto;
}
.campaign-list__link{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.campaign-list__image img{
    aspect-ratio:280/188;
    object-fit: cover;
    height: 100%;
    @include mq('md'){
    aspect-ratio:333/223;
    }
}
.campaign-list__image--sub-page img{
    aspect-ratio:280/188;
    width:100%;
    height:100%;
    object-fit:cover;
    @include mq('md'){
    aspect-ratio:520/347;
}
}
.campaign-list__body{
    padding: rem(16) rem(16) rem(24);
    background-color:$white;
    display:flex;
    flex-direction:column;
    height:100%;
    @include mq('md'){
    padding: rem(24) rem(16) rem(40);
    }
}
.campaign-list__category{
    display:inline-block;
    width:fit-content;
    font-size: rem(12);
    line-height: calc(22/12);
    font-weight: $regular;
    color:$main-green;
    border:1px solid $main-green;
    padding:rem(3) rem(11);
    @include mq('md'){
    padding:rem(6) rem(14);
    }
}
.campaign-list__title{
    font-size: rem(16);
    line-height: calc(24/16);
    font-weight: $medium;
    margin-top: rem(4);
    flex-grow:1;
    border-bottom: 1px solid $main-green;
    padding-bottom:rem(8);
}
.campaign-list__text{
    font-size:rem(14);  
    line-height:calc(24/14);
    margin-top:rem(8);
    text-align:center;
    @include mq('md'){
        font-size:rem(16);
        line-height:calc(24/16);
        margin-top:rem(16);
    }
}
.campaign-list__price-body{
    margin-top:rem(4);
    text-align: center;
    @include mq('md'){
        margin-top: rem(16);    
    }
}
.campaign-list__price{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap:rem(16);
    margin-top: rem(8);
    @include mq('md'){
        gap:rem(24); 
    }
}
.campaign-list__number{
    font-size: rem(20);
    line-height: 1;
    font-weight: $bold;
    font-family: $number-font-family;
    text-decoration:line-through;
    text-decoration-color: $red;
    text-decoration-thickness: rem(3);
    @include mq('md'){
        font-size: rem(24);
    }
}
.campaign-list__discount-number{
    font-size: rem(32);
    line-height: 1;
    font-weight: $bold;
    color:$main-green;
    font-family: $number-font-family;
    @include mq('md'){
        font-size: rem(40);
    }
}

/*下層ページ(page-campaign)のCSS*/
/*テキストを増減のレイアウト保持のため*/
.campaign-list__information-wrap {
    display:none;
    @include mq('md'){
    display: flex;
    flex-direction: column;
    height:100%;
}  
}
.campaign-list__information-text{
     @include mq('md'){
    flex-grow:1;
    }
}

/*下層ページ(page-campaign)のCSS*/
.campaign-list__body--subpage{
    @include mq('md'){
        padding:rem(24) rem(24) rem(40) rem(24);
    }
}
.campaign-list__title.campaign-list__title--big{
    @include mq('md'){
    font-size: rem(24);
    font-weight:$medium;
    padding-bottom:0;
}    
}
.campaign-list__text.campaign-list__text--subpage{
    @include mq('md'){
        margin-top:rem(24);
    }
}
.campaign-list__information-wrap{
    margin-top:rem(24);
}
.campaign-list__information-text{
    font-size: rem(16);
    line-height: calc(24/16);
}
.campaign-list__deadline{
    font-size: rem(16);
    line-height: calc(18/16);
    font-weight:$bold;
    color: $main-green;
    margin-top:rem(32);
    font-family: $number-font-family;
    text-align:center;
}
.campaign-list__apply-link{
    font-size: rem(14);
    line-height: calc(18/14);
    margin-top:rem(7);
    text-align: center;
    color:$main-green;
}
.campaign-list__btn{
    margin-top:rem(16);
    text-align: center;
}