@use "global" as *;
.contact__image{
    background-image: url(../images/common/counselling_bg.jpg);
    background-repeat:  no-repeat;              /* 背景の繰り返し設定 */
    background-size:  cover;  
    padding: rem(79) 0;              /* 画像のサイズ指定 */
    
    @include mq('md'){
      
    }
}
.contact__text-area{
    padding:rem(72) 0;
    background-color:rgba(255,255,255,0.8);
    max-width: rem(730);
    margin-inline:auto;
    border-radius: 10px;
    text-align:center;
}
.contact__title {
    font-size: rem(40);
    line-height: 1.5;
    font-weight:$medium;
    color:$sub-blue ;
}

.contact__text {
    font-size: rem(16);
    line-height: 2;
    font-weight:$regular;
    margin-top:rem(32);
}
.contact__btn{
    text-align: center;
    margin-top:rem(40);
}



