@use "global" as *;
.js-fade {
    transition: 0.8s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
}
//JSで追加されるクラス
.js-fade.fade-in{
    transform: translateY(0);
    opacity: 1.0;
}

//追加分
.cards__item {
    transition: 0.8s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
}

.cards__item.fade-in {
    transform: translateY(0);
    opacity: 1.0;
}

/* 各カードの遅延を設定 */
.cards__item:nth-child(1) {
    transition-delay: 0.2s;
}
.cards__item:nth-child(2) {
    transition-delay: 0.4s;
}
.cards__item:nth-child(3) {
    transition-delay: 0.6s;
}