@use "global" as *;
.footer-nav__items{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-start;
    row-gap:rem(8);
    @include mq('md'){
        display: flex;
        flex-direction: column;
    }
}
.footer-nav__heading{
    font-size: rem(12);
    color:$white;
    transition: all 0.3s;
    @include mq('md'){
        font-size: rem(16);
        line-height: calc(18/16);
        
    }
}
.footer-nav__heading--blue{
    color:#333;
}
.footer-nav__heading:hover{
    color:#B3CBEC;
}