@use "global" as *;
.form__items{
    @include mq('md'){
        display: flex;
        align-items: flex-start;
        justify-content:space-between;
        padding-bottom:rem(24);
        border-bottom: 1px dotted $main-green;
        @include mq('md'){
        padding-bottom:rem(40);
        }
    }
}
.form__items + .form__items {
    margin-top:rem(24);
    border-bottom: 1px dotted $main-green;
    @include mq('md'){
        margin-top:rem(40);
    }
}
.form__label{
    font-size:rem(16);
    line-height:calc(23/16);
    font-weight:bold;
    @include mq('md'){
        flex-grow:1;
    }
}
.form__label span {
    width: rem(61);
    max-width:100%;
    font-size: rem(12);
    margin-left: rem(8);
    letter-spacing: 0.4em;  
    padding:rem(2) rem(14);
    display: inline-block;
    color: $white;
    font-weight:$regular;
    letter-spacing:0.04em;
    background-color: #C94800;
    @include mq('md'){
        padding:rem(2) rem(16);
    }
}
.form__input,
.form__checkbox,
.form__select,
.form__textarea{
    margin-top:rem(16);
    @include mq('md'){
        margin-top:rem(-2);
        max-width: rem(480);
        width:100%;
    }
}
.form__submit{
    margin-top:rem(40);
    max-width:rem(282);
    margin-inline: auto;
    @include mq('md'){
    margin-top:rem(80);
    max-width:100%;
    text-align: center;
    }
}
.form__submit input +  span{
    font-size:rem(14);
    line-height: calc(22/14);
    cursor: pointer;
    display: inline-block;
    padding-left:rem(30);
    position: relative;
    @include mq('md'){
        padding-left:rem(38);
    }
}
.form__submit  input + span::before{
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    background:$white;
    border: 1px solid $main-green;
    display: block;
    width: rem(22);
    height:rem(22);
    @include mq('md'){
    top: 50%;
    transform: translateY(-50%);
}
}
.form__submit input +  span::after{
    content: "";
    margin-left: rem(4);
    margin-top:rem(-1);
    position: absolute;
    top:20%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: rem(14);
    height: rem(9);
    border-bottom: rem(2) solid #C94800;
    border-left: rem(2) solid #C94800;
    transition:  .3s;
    opacity: 0;
    @include mq('md'){
    top:50%;
}    
}
.form__submit input:checked + span::after {
    opacity: 1;
}

//submit-btn
.form__btn-submit {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    max-width: 202px;
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    background-color: #408F95; /* 初期背景色 */
    border: none;
    z-index: 1;
    // transition: color 0.4s ease-in-out;
    // border:1px solid $main-green;
}

.form__btn-submit input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: $white;
    padding:rem(16) rem(56);
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size:rem(14);
    font-weight: normal;
    border:1px solid #408F95;
    z-index: 2; /* ボタンのテキストを最前面に */
    position: relative;
    text-align:left;
}
.form__btn-submit:hover input.wpcf7-form-control.wpcf7-submit[value="Send"] {
    color:#408F95; /* ホバー時の文字色 */
}

.form__btn-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* 初期位置をボタンの左外に */
    width: 100%;
    height: 100%;
    background-color:$white; /* ホバー時の背景色 */
    // z-index: -1; /* ボタンテキストの後ろに配置 */
    transition: left 0.2s ease-in-out;
}
.form__btn-submit::after {
    border: 1px solid #408F95;
    content: "";
    height: 100%;
    right: -4px;
    top: 4px;
    position: absolute;
    z-index: -999; 
    width: 100%;
}
.form__btn-submit:hover::before {
    left: 0; /* ホバー時に背景色がボタン全体を覆う */
    color:$main-green;
}
.form__btn-submit:hover .btn__arrow {
    border-color: $main-green; /* ホバー時の矢印の色 */
}
.form__btn {
    margin-top: 24px;
    text-align: center;
}

@media (min-width: 768px) {
    .form__btn {
        margin-top: 40px;
    }
}
//contact form 7インストールによる表示崩れ修正
.wpcf7-form-control.wpcf7-checkbox {
    display: flex;
    flex-direction: column;
}
.wpcf7-spinner {
    visibility: hidden;
    display: none !important;
    background-color: #23282d;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}
.wpcf7-list-item {
    display: inline-block;
    margin: 0;
}
.wpcf7-response-output {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 未入力の必須項目に赤色のボーダーを追加 */
.wpcf7-form-control.wpcf7-not-valid {
    border: 2px solid red;
}
/* Contact Form 7のデフォルトエラーメッセージを非表示にする */
.wpcf7 .wpcf7-not-valid-tip {
    display: none;
}
.wpcf7 form .wpcf7-response-output {
    margin-bottom:rem(40); 
    padding: 0;
    border: none;
}
.wpcf7-response-output {
    color: #C94800;
    font-weight: normal; 
    margin-bottom: rem(40);
    text-align: center;
}
.wpcf7-form-control.wpcf7-not-valid {
    border: 1px solid #C94800;
    background-color: rgba(201, 72, 0, 0.2);
}


/*.form__btn-submit span::first-letter{
    text-transform:uppercase;
}*/
/*.form__btn-submit::after{
    background:$white;
    border:1px solid $main-green;
    position: absolute;
    top: 0;
    left: 0;  
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -10;
}*/
 

/*.wpcf7-form-control.wpcf7-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;  
}*/


