@use "global" as *;

.introduction__logo{
    width:rem(150);
    max-width:100%;
    margin-inline:auto;
    @include mq('md'){
        max-width:rem(196);
        width: 100%;
    }
}
.introduction__lead {
    font-size: rem(24);
    margin-top:rem(24);
    line-height:1.5;
    font-weight:$medium;
    font-family:$second-font-family;
    letter-spacing:0.05em;
    text-align:center;
    @include mq('md'){
        font-size: rem(35);
        margin-top:rem(40);
    }
}
.introduction__text-wrap {
    margin-top:rem(32);
    display:grid;
    gap:rem(20);
    text-align:center;
    @include mq('md'){
        margin-top:rem(40);
        gap:rem(40);
    }
}
.introduction__text {
    font-size: rem(14);
    line-height:1.5;
    font-weight:$regular;
    font-family: $second-font-family;
    @include mq('md'){
        font-size: rem(16);
    }
}
.introduction__image-wrap{
    margin-top:rem(48);
    position:relative;
    @include mq('md'){
        margin-top: rem(160);
}
}
.introduction__image {
    margin-inline:auto;
    aspect-ratio:345/200 ;
    @include mq('md'){
        max-width:rem(711);
        width: 100%;
        aspect-ratio:711/399;
    }
}
.introduction__image img{
    object-fit: cover;
    height: 100%;
}
.introduction__marquee-area{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    gap: rem(16);
    overflow: hidden;
    width: 100vw;
}
.introduction__marquee-text {
    font-size:clamp(2rem, 0.724rem + 5.45vw, 5.625rem);
    font-family:$english-font-family;
    letter-spacing:0.1em;
    font-weight: $regular;
    color:$main-blue;
    text-transform:uppercase;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    transform: translateX(100%);
}
@keyframes marquee {
    100% {
    transform: translateX(-100%);
    }
}