@use "global" as *;

.introduction__logo{
    width:rem(150);
    max-width:100%;
    margin-inline:auto;
    @include mq('md'){
        max-width:rem(196);
        width: 100%;
    }
}
.introduction__lead {
    font-size: rem(24);
    margin-top:rem(24);
    line-height:1.5;
    font-weight:$medium;
    font-family:$second-font-family;
    letter-spacing:0.05em;
    text-align:center;
    @include mq('md'){
        font-size: rem(35);
        margin-top:rem(40);
    }
}
.introduction__text-wrap {
    margin-top:rem(32);
    display:grid;
    gap:rem(20);
    text-align:center;
    @include mq('md'){
        margin-top:rem(40);
        gap:rem(40);
    }
}
.introduction__text {
    font-size: rem(14);
    line-height:1.5;
    font-weight:$regular;
    @include mq('md'){
        font-size: rem(16);
    }
}
.introduction__image-wrap {
    margin-inline:auto;
    margin-top:rem(48);
    aspect-ratio:345/200 ;
    position:relative;
    @include mq('md'){
        max-width:rem(711);
        width: 100%;
        margin-top: rem(160);
        aspect-ratio:711/399;
    }
}
.introduction__image-wrap img{
    object-fit: cover;
    height: 100%;
}
.introduction__marquee-text {
    

}

