@use "global" as *;
.page-report__category-wrap{
    margin-top:rem(50);
    @include mq('md'){
        margin-top:rem(100);
    }
}
.page-report__lists{
    display: grid;
    gap:rem(40);
    margin-top: rem(40);
    @include mq('md'){
        grid-template-columns: repeat(3, 1fr);
        gap:rem(60) rem(40);    
    }
}
.page-report__wp-pagenavi{
    margin-top:rem(80);
}
    