@use "global" as *;
.page-contact__form{
    padding: rem(30);
    background-color:$white;
    border-radius: 20px;
    @include mq('md'){
        max-width:rem(800);
        padding: rem(80);
        margin-inline:auto;
    }
}
