@use "global" as *;
.page-404{
    margin-top:rem(80);
    background-color:$main-green;
    @include mq('md'){
        margin-top:rem(90);
    }
}
.page-404__inner{
    @include mq('md'){
        max-width:rem(1058);
    }
}
.page-404__title{
    font-size:rem(80);
    letter-spacing:0.5em;
    text-indent:0.5em;
    color:$white;
    line-height:calc(96/80);
    font-family:$number-font-family;
    font-weight: $regular;
    @include mq('md'){
        font-size:rem(160);
        line-height:calc(192/160);
    }
}
.page-404__text{
    font-size: rem(16);
    font-family:$number-font-family;
    line-height:calc(24/16);
    color:$white;
    @include  mq('md'){
        margin-top:rem(24);
    }
}
.page-404__btn{
    margin-top:rem(40);
    @include mq('md'){
    margin-top:rem(80);
    }
}
.page-404__btn-text{
    text-transform:uppercase;
}

