@use "global" as *;
.pc-nav__items{
    display: flex;
    align-items: center;
    height:inherit;
}
.pc-nav__item{
    height: inherit;
}
.pc-nav__link{
    font-size: rem(18);
    height: inherit;
    line-height: 1;
    padding: 0 rem(20);
    color: $white;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $english-font-family;
    position: relative;
    overflow: hidden;
    transition: all 0.7s 0s ease;
    @include mq('md'){
      font-size: rem(12);
    }
    @include mq('lg'){
      font-size: rem(15);
    }
}
.pc-nav__link:hover{
    color:#B3CBEC;
}
.change-nav{
    color:$sub-blue;
    transition: all 0.7s 0s ease;
}
.change-nav:hover{
    color:$main-blue;
}
.pc-nav__link:hover{
    opacity:2;
}
.pc-nav__item:last-child a{
    padding-right:0;
}
.pc-nav__item span{
    display: block;
    margin-top:rem(4);
    font-size:rem(10);
    text-align: center;
    line-height: calc(15/10);
    color: $white;
}
