@use "global" as *;
.tab__menu{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:rem(19);
    cursor: pointer;
    @include mq('md'){
        column-gap:rem(32);
    }
}
.tab__menu-item{
    min-width:rem(102);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-inline: auto;
    text-align: center;
    padding:rem(9) rem(16);
    font-size:rem(14);
    background-color:#F8F4EE;
    color:$sub-blue; 
    transition:0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq('md'){
    padding:rem(28) rem(0) rem(28) rem(0);
    line-height:1;
    display:inline-block;
    font-size:rem(20);
    letter-spacing: 0.1em;
    max-width:rem(300);
    width:100%;
    }
}
.tab__menu-item:hover{
    background-color:$sub-blue;
    color:$white; 
}
.tab__menu-item.is-active {
    background-color:$sub-blue;
    color:$white;
}
.tab__content-inner {
    border: 1px solid $sub-blue;
    padding: rem(24);
    @include mq('md'){ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(40) rem(30);
    }
}
.tab__content-body{
    @include mq('md'){
        max-width:rem(492);
    }
}
.tab__content-image{
    margin-top:rem(8);
    @include mq('md'){
        max-width: 492px;
        width: 100%;
    }
}
.tab__content-image img{
    aspect-ratio: 294 / 189;
    height: 100%;
    object-fit: cover;
    @include mq('md'){
    aspect-ratio: 492 / 313;
    }
}
.tab__content-heading{
    font-size: rem(24);
    line-height:1;
    font-weight:$bold;
    border-bottom: 1px solid $main-blue;
    padding-bottom:rem(16);
    @include mq('md'){
        font-weight:$medium;
    }
}
.tab__content-text{
    margin-top:rem(16);
    font-size:rem(16);
    line-height:calc(24/16);
}
.tab__content-item.is-active{
    display:block;
    animation: panel-show .9s ease-in-out forwards;
}
/* パネル切り替えのアニメーション */
@keyframes panel-show {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
.tab__content-item{
    display:none;
}

